<!doctype html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="VjAPkK3AfB4YEiIDfNroAIxLgN3DyHvqR2TZX7UzGSw" />
  <meta name="ROBOTS" content="index, follow">
  <meta name="description" content="Peter Jakubik - Erotic and DIY Art design">
  <meta name="keywords" content="Peter Jakubik, Erotic design ,Diy designer,Fetish artworks">
  <meta name="author" content="Peter Jakubik"> 
  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://jakubik.art/sitemap.xml" />
  <link rel="stylesheet" href="style.css">
<body>


      <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

      {% include header.html %}

      {{ content }}
	  
	  {% include footer.html %}
</body>
</html>